@import '/src/assest/abstract/_base.scss';
@import '/node_modules/bootstrap/scss/bootstrap.scss';

.navigation {
  width: 100%;
  background-color: #136a8a;
  position: fixed;
  .navigation-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    margin: 0px 50px;
    h4 {
      color: white;
      font-weight: 600;
      font-size: 1rem;
    }
    .navigation-action {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        list-style: none;
        color: white;
        cursor: pointer;
      }
      li a {
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
      }
    }
  }
}
.interface {
  display: flex;
  .menu {
    background-color: #222222;
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 66px;
    .menu-content {
      margin: 40px 0px 0px 5px;
      ul li {
        list-style: none;
        padding: 10px 0px;
      }
      li a {
        color: #eeee;
        text-decoration: none;
        font-size: 0.9rem;
        padding: 10px 10px;
        display: inline-block;
        width: 80%;
        border-radius: 5px;
      }
      .active {
        text-decoration: none;
        background-color: #eeee;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 5px;
        color: white;
        width: 80%;
      }
      ul li a:hover {
        background-color: #eeee;
        transition: 0.5s ease;
        color: white;
      }
    }
  }
  .dashboard {
    margin: 100px 0px 0px 300px;
    h4 {
      font-weight: 600;
    }
    .breadcrumb {
      width: 1000px;
      border-radius: 5px;
      background-color: #eee;
      padding: 10px 15px;
      li {
        list-style: none;
        font-size: 0.94rem;
        color: #333;
      }
    }
    .dashboard-content {
      display: flex;
      gap: 10px;
      .item {
        width: 243px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        color: white;
      }
      .icon svg {
        color: black;
        font-weight: 600;
      }
      .item-1 {
        background-color: orange;
      }
      .item-2 {
        background-color: orangered;
      }
      .item-3 {
        background-color: rgb(1, 120, 150);
      }
      .item-4 {
        background-color: green;
      }
    }
  }
  footer {
    p {
      display: flex;
      align-items: center;
      font-size: 14px;
      gap: 5px;
      position: absolute;
      bottom: 0;
    }
  }
}
